html{background-color: white;}

body{
	width: 800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin:auto;
}

header {
	background-color:hsla(185,100%,32%,1.00)

}

header h1 {
	float:left;
}

header h3 {
	text-align: center;
	color: white;
	font-style: italic;
	padding-top: 30px;
	float:right;
	width:50%;
}



hgroup {text-align: center;}



#nav_bar {

	text-align:center;
	clear: left;
	margin: 0;
	padding: 0;
	border: 2px solid #06F7B7;
	background-color: #06F7B7;
}
#nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
#nav_bar li {
	float: left;

}
#nav_bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
	font-family: "Comic Sans", Comic, sans-serif;
	}
	
#nav_bar a:visited { color: green; }
#nav_bar a.current { color: #ef9c00; }

#nav_bar li a:hover {
    background-color: #111;
}
body{clear: both;
}
		

article{
	
	padding: 10px, 40px;
	width: 100%;
	height: auto;
	margin-bottom: 5px;
	text-align: center;
	}
#founders{
	float: left;
	
	border: solid 1px black;
	padding: 0;
	margin: 15px, 10px;
		}
aside{
	float: right;
	border: solid 1px black;
	padding: 0;
	margin: 15px, 10px;}
#bio{
	font-family: Veranda, Arial;
	text-align: center;
	text-transform: capitalize;
	}
#CEO{
	float: none;
	border: solid 5px  #06F7B7;
	width: 800px;
	margin-top: 10px;
}
	
#biotext{font-family: Veranda, Arial;
	text-indent: 15pt;}
	
footer{
	clear:both;
	width: 800px;
	padding: 15px;
	float: none;
	background-color:hsla(185,100%,32%,1.00);
	text-align: center;}	
	