html{background-color: hsla(185,100%,32%,1.00);}
hgroup {text-align: center;}

#nav_bar {

	text-align:center;
	clear: left;
	margin: 0;
	padding: 0;
	border: 2px solid #06F7B7;
	background-color: #06F7B7;
}
#nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
#nav_bar li {
	float: left;


}
#nav_bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;

	}
#nav_bar a:visited { color: green; }
#nav_bar a.current { color: #ef9c00; }

#nav_bar li a:hover {
    background-color: #111;
}

#signupform{margin-top: 1pt;
			padding: 0;
			text-decoration: none;
			text-align: center;}
aside.sidebarL {
	float: left; 
	width: 250px;
	padding: 50px 0px; 
	border: none ;
		}
aside.sidebarL ul { 
    list-style: none;
}
aside.sidebarL li { 
    margin-bottom: .5em; 
	margin: 0 2em .5em;
	background-color: orange;
}       
aside.sidebarL li a {
    display: block;
    padding: .5em 0 .5em .5em;
    text-decoration: none;
    font-weight: bold;
	font-size: 85%;
	color: black;
}


#marg_truck { 
	/*padding-right 25px;
	padding-top 25px;
	padding-bottom 25px;
	margin-bottom: .5em;*/
	padding: 10px 20px;
	margin-right: 25px;
}

.sectionR {
	font-weight: bold;
	padding: 20px 40px 30px 20px; 
	border: none ;
	overflow: hidden;
	
}

.form_switch input{
	border-radius: 6px;
	hover;
    background-color: #DDDDD;
}



.sectionR  h4 {
	font-size: 12pt;
	margin: .8em 0 .5em 0;
}

.sectionR  p {
	margin-top: .5em;
	text-align: justify;
}

.sectionR  a {
	color: blue;
}
.sectionR  a:link, section.sectionR  a:visited { 
    color: blue; 
}
.sectionR  a:hover, section.sectionR  a:focus { 
    color: red;
	font-style: italic;
}


footer{float: none;
	text-align: center;}	