/* horizontal nav bar */
#nav_bar {
	text-align: center;
	clear: left;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #06F7B7;
	background-color: #06F7B7;
}
#nav_bar ul {
	margin-left: 0;
	margin-bottom: .5em;
	list-style: none;
	padding: 0.5em 2em 0 0;
}
#nav_bar li {
	display: inline;
	padding: 0 1.5em;
	/*border-right: 2px solid black;*/
	background-color: #00efef;
}
#nav_bar a:visited { color: green; }
#nav_bar a.current { color: #00efef; }

#nav_bar a:hover, a:focus{
	background-color: #111; 
	color: red; 
}

